
@{
    ViewData["Title"] = "Juegos";
}

<h1>Juegos</h1>

<h2>Lista de Juegos Disponibles: </h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio</th>
            <th scope="col">Formato</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a href="">Dead Space</a></td>
            <td>PS3</td>
            <td>Accion</td>
            <td>$500</td>
            <td>Fisico</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a href="">GTA V</a></td>
            <td>PS4</td>
            <td>Accion</td>
            <td>$750</td>
            <td>Digital</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><a href="">Fifa Futbol</a></td>
            <td>PS5</td>
            <td>Deporte</td>
            <td>$1500</td>
            <td>Digital</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><a href="">Gran Turismo</a></td>
            <td>PS5</td>
            <td>Carreras</td>
            <td>$1300</td>
            <td>Digital</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td><a href="">God of War</a></td>
            <td>PS5</td>
            <td>Accion</td>
            <td>$1200</td>
            <td>Digital</td>
        </tr>
    </tbody>
</table>

