<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orbis Game - Recovery</title>
    <link rel="stylesheet" href="~/css/Admin.css">
</head>
<body>
    <div class="paginaAd">
        <div class="navbar">
            <div>
                <a href='#'>Orbis Game - Recovery </a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a class="loginbtn" asp-area="" asp-controller="Home" asp-action="Inicio">Volver</a></li>
                </ul>
            </nav>
        </div>
        <div class="form-box">
            <h1 class="admin">Recuperar Contraseña </h1>
                @*//formulario para recuperar la contraseña *@
            <form asp-action="PasswordRecovery" id='login' class='input-group-login' method="post">
                @{
                                
                    <input type="text" class='input-field' placeholder="Correo Electronico" id="Mail"  name="Mail" required>

                 

                    <button type="submit" class='submit-btn'>Recuperar</button>
                }
            </form>
        </div>
        
    </div>
</body>
</html>

